.love{
    flex: 1;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}


    body {
        background-color: whitesmoke;
        color: rgb(43, 43, 43);
        font-family: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    background-color: whitesmoke;
    color: rgb(43, 43, 43);
    font-family: 'Poppins', sans-serif;
}
.box a {
    text-decoration: none;
    font-style: italic;
    transition: 1s;
    color: rgb(88, 144, 191);
    font-weight: bold;}

    .authContainer .left {
        flex: 1;
        background-image: linear-gradient(to right top, #051b3ccc, #004d7aa5), url(https://source.unsplash.com/random);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: whitesmoke;
    }