@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

a
{
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
    text-align: center;
}

ul
{
   position: absolute;
   right: 0;
}
.form-control
{
    margin-top:15px;
}
.centre
{
    display: flex;
    list-style: none;
    gap: 40px;
    margin-right: 35%;
}
.right
{
    display: flex;
    list-style: none;
    margin-right: 10px;
    gap: 12px;
}
